@import "variables.scss";

header {
  background: $bleu;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;

  .logo {
    img {
      height: 50px;
    }
  }

  nav {
    display: flex;
    align-items: center;
    float: right;
    gap : 20px;

    img {
      height: 30px;
      width: 30px;
      margin: 0 10px;
    }

    a {
      color: #333;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .login-info {
    a {
      text-decoration: none;
      color: #333;
    }
  }
}

