@import "variables.scss";

.sous-header{
  width: 100%;
  height: calc(100vh - 90px); // 90px -> taille du header
  position: relative;
  overflow: hidden;

  .bg img {
    width: 100%;  // l'image prendra toute la place disponible dans .sous-header
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1; // permet de mettre l'image en arrière plan

    // suppression de l'effet de flou sur les bords de l'image (le overflow: hidden permet de ne pas déborder)
    transform: scale(1.05);

    // floute l'image de fond
    filter: blur(4px);
    -webkit-filter: blur(4px);
  }

  .contenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      color: $blanc;
      font-size: 3rem;
      text-align: center;
    }

    p {
      color: $blanc;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

button {
  padding: 1em;
  background-color: $bleu;
  border-radius: 2em;
  border: none;
  margin: auto;
  cursor: pointer;

  &:hover {
    background: lighten($bleu, 10%);
  }
}

main {
  aside {
    box-sizing: border-box;
    margin: 0.5em;
    float: left;
    width: calc(30% - 1em);
    height: 100%;
    background-color: $bleu-clair;
    padding: 0.5em;
    border-radius: 1em;
  }
  #content {
    box-sizing: border-box;
    float: right;
    width: 70%;
    height: 100%;
    background-color: $blanc;
    padding: 1em;
  }
}



main{
  #formulaire-recherche {
    display: flex;
    align-items: center;
    margin: 1em;
    gap: 1em;
    input[type="submit"]{
        background-color: $bleu;
        border: none;
        border-radius: 0.5em;
        padding: 0.5em;
        color: $blanc;
        cursor: pointer;
        margin-left: auto;
        &:hover {
            background: lighten($bleu, 10%);
        }
    }
  }


  #parametres{
    display: flex;
    width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 2em 1em;
  }

  input[type="text"]{
    width: 100%;
    height: 2rem;
    background-color: $blanc;
    border-radius: 1rem;
    padding: 1rem;
  }

  #recherche {
    width: 60%;
  }

  #produits{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
    padding: 1em;
    .article {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      border-radius: 1em;
      padding: 1em;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      text-align: center;
      position: relative;

      .filtre {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1em;

        &:hover {
          background: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }

