// couleurs du site

$bleu: #006896;
$bleu-clair: #87CEEB;
$noir: #222;
$blanc: #FFF;
$gris-clair: #F5F5F5;

// modifie les paramètres par défaut de css

*{
  margin: 0;
  padding: 0;
  color: #222;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
}

body{

    background-color: $blanc;
}

// choisis la couleur de texte en fonction de la couleur de fond
@function text-color($couleur: $blanc) {
  @if lightness($couleur) > 50% {
    @return $noir;
  } @else {
    @return $blanc;
  }
}